header {
    background-color: darkcyan;
    position: fixed;
    left: 0;
    right: 0;
    top: 5px;
    height: 30px;
    display: flex;
    align-items: center;
}
header * {
    display: inline;
}
header li {
    margin: 20px;
}
header li a {
    color: lightgrey;
    text-decoration: none;
}